---
const { title, description, image, href } = Astro.props;

const hasLink = typeof href === "string" && href.length > 0;
---

<article>
  <div>
    <div>
      <img
        src={image ? image : "/photos/comingsoon.png"}
        alt={title ? title : "タイトルがないよー！！制作者の程度が知れるね！！"}
      />
    </div>
    <div>
      <h2>
        {title ? title : "タイトルがないよー！！制作者の程度が知れるね！！"}
      </h2>
      <p>
        {
          description
            ? description
            : "まだ公開できる情報がないよー制作者の程度が知れるね！！"
        }
      </p>
      {
        hasLink ? (
          <a
            href={href}
          >
            View More
          </a>
        ) : (
          "リンクがないよー！！制作者の程度が知れるね！！"
        )
      }
    </div>
  </div>
</article>
